# <center> Build a S&P Index Fund with equal weights <center>

In [50]:
import numpy as np
import pandas as pd
import requests
import math
import xlsxwriter
from scipy import stats
import statistics

In [29]:
stocks = pd.read_csv('sp_500_stocks.csv')

In [30]:
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [31]:
IEX_CLOUD_API_TOKEN = 'Tpk_059b97af715d417d9f49f50b51b1c448'

In [32]:
symbol = 'AMZN'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'symbol': 'AMZN',
 'companyName': 'Amazon.com Inc.',
 'primaryExchange': 'GKTL TCBD/RASL EA OE(SMQE)LGANSAN',
 'calculationPrice': 'iexlasttrade',
 'open': None,
 'openTime': None,
 'openSource': 'cfoiaifl',
 'close': None,
 'closeTime': None,
 'closeSource': 'ilaoiffc',
 'high': None,
 'highTime': None,
 'highSource': None,
 'low': None,
 'lowTime': None,
 'lowSource': None,
 'latestPrice': 3192.2,
 'latestSource': 'IEX Last Trade',
 'latestTime': 'January 12, 2021',
 'latestUpdate': 1619008277746,
 'latestVolume': None,
 'iexRealtimePrice': 3215.7,
 'iexRealtimeSize': 2,
 'iexLastUpdated': 1683118087563,
 'delayedPrice': None,
 'delayedPriceTime': None,
 'oddLotDelayedPrice': None,
 'oddLotDelayedPriceTime': None,
 'extendedPrice': None,
 'extendedChange': None,
 'extendedChangePercent': None,
 'extendedPriceTime': None,
 'previousClose': 3116.61,
 'previousVolume': 3807555,
 'change': 6.48,
 'changePercent': 0.00205,
 'volume': None,
 'iexMarketPercent': 0.03465483280049194,
 'iexVolume': 114042,
 'avgTotalVolume': 3759534,
 'iexBidPrice': 0,
 'iexBidSize': 0,
 'iexAskPrice': 0,
 'iexAskSize': 0,
 'iexOpen': 3204,
 'iexOpenTime': 1665296198428,
 'iexClose': 3157.5,
 'iexCloseTime': 1663409762843,
 'marketCap': 1634360681593,
 'peRatio': 92.75,
 'week52High': 3635.03,
 'week52Low': 1737.43,
 'ytdChange': -0.04209056723318011,
 'lastTradeTime': 1626255344893,
 'isUSMarketOpen': False}

In [33]:
data['latestPrice']

3192.2

In [34]:
data['marketCap']

1634360681593

In [35]:
new_columns = ['Ticker', 'Price','Market Capitalization', 'Number Of Shares to Buy']
df1 = pd.DataFrame(columns = new_columns)
df1

Empty DataFrame
Columns: [Ticker, Price, Market Capitalization, Number Of Shares to Buy]
Index: []

In [36]:
df1 = df1.append(pd.Series(['AMZN', data['latestPrice'], data['marketCap'], 'N/A'], index = new_columns), ignore_index = True)
df1

  Ticker   Price Market Capitalization Number Of Shares to Buy
0   AMZN  3192.2         1634360681593                     N/A

In [37]:
df1 = pd.DataFrame(columns = new_columns)
for symbol in stocks['Ticker'] :
    api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(api_url).json()
    df1 = df1.append(pd.Series([symbol, data['latestPrice'], data['marketCap'], 'N/A'], index = new_columns), ignore_index = True)

In [38]:
df1

    Ticker    Price Market Capitalization Number Of Shares to Buy
0        A  127.740           40657012599                     N/A
1      AAL   15.416            9329439130                     N/A
2      AAP  179.370           12460807018                     N/A
3     AAPL  133.570         2225859488906                     N/A
4     ABBV  112.070          200315877920                     N/A
..     ...      ...                   ...                     ...
500    YUM  111.300           33278304780                     N/A
501    ZBH  167.280           34101060615                     N/A
502   ZBRA  415.660           22398460260                     N/A
503   ZION   50.559            8535618026                     N/A
504    ZTS  173.600           79193579910                     N/A

[505 rows x 4 columns]

In [39]:
portfolio_size = input("Renseigner la valorisation de votre portefeuille : ")
try :
    val = float(portfolio_size)
except ValueError :
    print("La valeur renseignÃ©e n'est pas un nombre \n Veuillez rÃ©essayer")
    portfolio_size = input("Renseigner la valorisation de votre portefeuille : ")

Renseigner la valorisation de votre portefeuille : 500000

In [41]:
position_size = float(portfolio_size) / len(df1.index)
for i in range(0, len(df1['Ticker'])-1):
    df1.loc[i, 'Number Of Shares to Buy'] = math.floor(position_size / df1['Price'][i])
df1

    Ticker    Price Market Capitalization Number Of Shares to Buy
0        A  127.740           40657012599                       7
1      AAL   15.416            9329439130                      64
2      AAP  179.370           12460807018                       5
3     AAPL  133.570         2225859488906                       7
4     ABBV  112.070          200315877920                       8
..     ...      ...                   ...                     ...
500    YUM  111.300           33278304780                       8
501    ZBH  167.280           34101060615                       5
502   ZBRA  415.660           22398460260                       2
503   ZION   50.559            8535618026                      19
504    ZTS  173.600           79193579910                     N/A

[505 rows x 4 columns]